<!DOCTYPE html>
<html>
    <head>
       <title>udating form</title>
    </head>
    <body>
        <div>
            <h1>Edit Personal Detail</h1>
            <form action="/update" method="POST">
                <div>
                    <label>Name:</label>
                    <input type="text" name="name" placeholder="name" >
                </div>
				<div>
                    <label>E-mail   :</label>
                    <input type="email" name="email" placeholder="email" required>
                </div>
                <div>
                    <label>Username:</label>
                    <input type="text" name="username" placeholder="Username" required>
                </div>
				<div>
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div>
                    <label>Age:</label>
                    <input type="text" name="age" placeholder="age" >
                </div>
                <div>
                    <label>Sex:</label>
                    <input type="text" name="sex" placeholder="sex" >
                </div>
                <div>
                    <label>Contact No.:</label>
                    <input type="text" name="mobile" placeholder="mobile" >
                </div>
                <div>
                    <label>Country:</label>
                    <input type="text" name="country" placeholder="country" >
                </div>
				<input type="submit" name="update">
            </form>
		</div>
    </body>
</html>